@use '../variables' as v;

.introduccionPanel { margin-bottom: 2.5rem; }
.panelesPanel { display: grid; gap: 1.5rem; margin-top: 2.5rem; grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }
.tarjetaModulo { display: block; transition: transform .2s, border-color .2s; }
.tarjetaModulo:hover { transform: translateY(-.25rem); border-color: rgba(v.$cian, .5); }
.barraTarjetaModulo { height: .25rem; margin-top: 1.5rem; background: #475569; }
.barraTarjetaModulo span { display: block; width: 75%; height: 100%; background: #34d399; }
